body {
    background-color: beige;
    font-family: 'Abril Fatface';
    letter-spacing: 0.5px
}
#navbar {
    background-color: #032e01;
    padding: 20px;
    border: 0px;
}

a {
    transition: 0.4s;
}
a:hover {
    color: #A4FAA0;
}

.navlink {
    padding: 20px;
    color: white;
    text-shadow: black;
    cursor: pointer;
    transition: 0.4s;
    font-weight: 400;
}
.navlink:hover {
    animation-name: shake1;
    animation-duration: 0.4s;

}
@keyframes shake1{
    0% {
        transform: rotate(0deg) translate(0px);
    }
    25% {
        transform: rotate(-10deg) translate(-20px);
    }
    50% {
        transform: rotate(0deg) translate(0px);
    }
    75% {
        transform: rotate(10deg) translate(20px);
    }
    100% {
        transform: rotate(0deg) translate(0px);
    }

}
#row1 {
    display: flex;
    flex-direction: column;
}



.row {
    padding-left: 10px;
}
.middle {
    width: 30%;
}
#irene1 {
    height: 60vh;
    object-fit: cover;
    object-position: 50% 30%;
    margin: 0 auto;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .content {
    padding-top: 60px;
}